/*
font-family: 'Sono', sans-serif;
 font-family: 'Permanent Marker', cursive;
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
/* kotak satu */
.kotak-satu {
    width: 300px;
    height: 400px;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Sono', sans-serif;
    color: #eaeaea;
    text-shadow: 3px 3px rgb(14, 109, 126);
    border: 10px solid rgb(14, 109, 126);
    transform: scale(0);
    opacity: 0;
    transition: 1s;
}
/* teks kotak satu */
.kotak-satu h1 {
    margin: 20px 0;
    transition: 1s;
}
.from {
    opacity: 0;
    transform: translateX(-192px);
}
.x {
    opacity: 0;
    transform: translateX(180px);
}
.cpdxseven {
    opacity: 0;
    transform: translateY(135px);
}
/* kotak dua */
.kotak-dua {
    width: 300px;
    height: 400px;
    background-color: #eaeaea;
    position: absolute;
    border: 10px solid rgb(128, 103, 24);
    color:rgb(1, 41, 46);
    transform: translateX(100%);
    transition: 1s;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    opacity: 0;
}
.kotak-dua p {
    transition: 1s;
}
.p1 {
    align-self: flex-start;
    transform: translateY(-100px);
    opacity: 0;
}
.p2 {
    transform: translateX(-270px);
    opacity: 0;
}
.p3 {
    align-self: flex-end;
    transform: translateY(100px);
    opacity: 0;
}
/* tap */
.tap {
    width: 100px;
    height: 100px;
    background-color: eaeaea;
    position: absolute;
    background-color: #eaeaea;
    margin-bottom: 300px;
    border-top: 10px solid rgb(128, 103, 24);
    display: flex;
    padding: 10px;
    transform: scale(0);
    opacity: 0;
    transition: 1s;
    cursor: pointer;
}
.tap p {
    margin: auto;
    text-align: center;
    font-family: 'Sono', sans-serif;
    font-weight: bold;
    color: rgb(54, 22, 3);
}
/* kotak tiga */
.kotak-tiga {
    width: 300px;
    height: 400px;
    background-image: url(img/bg-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: 5px solid #111;
    box-shadow: 2px 2px 5px 1px #333;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eaeaea;
    transform: translateX(100%);
    opacity: 0;
    transition: 1s;
    scale: 2;
}
.konten-satu, .konten-dua { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.konten-satu {
    font-family: 'Sono', sans-serif;
}
.konten-dua {
    font-family: 'Permanent Marker', cursive;
    position: absolute;
}
.for {
    margin: 10px 0;
    text-shadow: 5px 5px 1px #000;
    opacity: 0;
    transition: 2s;
}
.kotak-tiga h1 {
    margin: 10px 0;
    text-shadow: 5px 5px 1px #000;
    transition: 1.5s;
}
.selamat {
    transform: scale(0);
    opacity: 0;
}
.hari {
    transform: scale(2);
    opacity: 0;
}
.guru {
    transform: translateY(50px);
    opacity: 0;
}
/* logo */
.logo {
    width: 200px;
    position: absolute;
    top: -200px;
    transform: translateY(-230px);
    transition: 1s;
    opacity: 0;
}

/* js */
.skala-satu {
    transform: scale(1);
}
.opasiti-satu {
    opacity: 1;
}
.opasiti-sengah {
    opacity: .7;
}
.x-nol {
    transform: translateX(0);
}
.x-100 {
    transform: translateX(-100%);
}
.y-nol {
    transform: translateY(0);
}
.display-none {
    display: none;
}
.index-nol {
    z-index: 0;
}